<div class="page-header">
  <h1><%%= <%= class_name %>.model_name.human %> - editace</h1>
</div>

<%%= render 'form' %>

<%%= link_to 'Zpět', <%= prefixed_index_helper %>_path, class: 'btn btn-default' %>
